* {
  background-color: black;
  color: white;
  border-color: blueviolet;
  font-size: 20px;
}
.Main {
  min-height: 100vh;
  margin: 5%;
}

.Login input {
  color: grey;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

.Login button {
  margin-top: 10px;
  color: white;
  border-radius: 20px;
}
.Login button:hover {
  cursor: pointer;
}

.Login fieldset{
	margin-top: 10px;
	width: 200px;
}

.Mascot{
	position: absolute;
	width: 25vw;
	opacity: 0.5;
	left: 50%;
	top: 20px;
}
@media only screen and (max-width: 768px) {
	.Mascot{
		position: relative;
		width: 50vw;
		margin: 25%;
		top: auto;
		left:auto;
	}
}
